.button {
  background: #1a75ff;
  border-radius: 5px;
  border: 1px solid #1a75ff;
  color: #fff;
  padding: 0.5rem 2rem;
  cursor: pointer;
  font-weight: 600;
}

.button:hover {
  background: #0052cc;
  border: 1px solid #0052cc;
}

.button.disabled {
  background: #ccc;
  border: 1px solid #ccc;
  color: #666;
  cursor: "not-allowed";
}

.link-button {
  background: none;
  border: none;
  color: #1a75ff;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.link-button:hover {
  background: #e6f0ff;
}
