* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica", "Helvetica Neue";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #e6ccff;  */
  background-color: #e7f8f8;
  /* background-color: #e0e9f5; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
