.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  /* background: #333333; */
  background: #008080;
  color: #fff;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .header h2 {
  color: #fff;
} */

.logo {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: white;
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

/* .header a {
  
} */

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.link:hover {
  color: #88dfdf;
}

.link:hover {
  /* color: #bc97ce; */
  color: #88dfdf;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

/* .header a:hover {
  color: #bc97ce; 
  color: #88dfdf;
} */

.header button:hover {
  background-color: #bc97ce;
  color: #38015c;
}

.nav {
  height: 100%;
}

.nav ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.nav li {
  margin: 0 1rem;
  width: 5rem;
}
/* 
.nav a {
  color: white;
  text-decoration: none;
} */

/* .nav a:hover,
.nav a:active,
.nav a.active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
} */

/* .navButton {
} */

.navButton {
  text-decoration: none;
  padding: 6px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 0.6rem 1.3rem;
  white-space: nowrap;
  text-align: center;
  background: #fff;
  color: #008080;
}

.navButton:hover {
  color: #004d4d;
}
